.mui-action-back{
	font-size: 16px !important;
	color: #666666;
	line-height: 22px;
}
.mui-content{
	padding-bottom: 49px;
}
.mui-popover{
	position: fixed;
}
.mui-action-back:active{
	color: #666666;
}
.box{
	margin-top: 10px;
	background-color: #FFFFFF;
	padding-left: 14px;
	font-size: 14px;
	color: #666666;
}
.titlelist{
	display: flex;
	height: 48px;
	align-items: center;
	border-bottom: 1px solid #EBEBEB;	
}
.titlelist input{
	width: calc(100% - 90px);
	padding: 0;
}
input{
	border: 0 !important;
	font-size: 14px;
}
::-webkit-input-placeholder {  /*WebKit, Blink, Edge */
    color: #BBBBBB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 	color: #BBBBBB;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #BBBBBB;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #BBBBBB;
}
.title{
	width: 90px;
}
.typelist{
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: space-between;
	padding-right: 14px;
}


.type{
	width: 90px;
}
.specifictype{
	font-size: 14px;
	color: #333333;
}
.ordinarylist{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #EBEBEB;
}
.ordinary{
	width: 90px;
}
.ordinaryinput{
	width: calc(100% - 90px);
	display: flex;
	align-items: center;
	color: #333333;
}
.ordinaryinput input{
	padding-left: 0;
	padding-right: 14px;
}
.goodslist{
	display: flex;
	height: 48px;
	align-items: center;
	border-bottom: 1px solid #EBEBEB;	
	justify-content: space-between;
	padding-right: 14px;
}
.goods{
	display: flex;
	height: 48px;
	align-items: center;
}
.goods input{
	width: calc(100% - 90px);
	padding: 0;
}
.colorbox{
	margin-top: 27px;
	background-color: #FFFFFF;
}
.colorboxtop{
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: space-between;
	padding-right: 14px;
	padding-left: 14px;
	font-size: 14px;
	color: #666666;
}
.colorboxtop:active{
	color: #666666;
}
.flex{
	display: flex;
}
.colorsize{
	width: 90px;
}
.colorlist{
	height: 48px;
	margin-left: 104px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #333333;
	padding-right: 14px;
	border-bottom: 1px solid #EBEBEB;
}
.colorlist:last-child{
	border: 0;
}
.colorlistright{
	display: flex;
	font-size: 14px;
	color: #999999;
	
}
.colorlistright img{
	margin-left: 10px;
}
.colorlistright span{
	margin-left: 10px;
}
.release{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 49px;
	line-height: 49px;
	text-align: center;
	background-color: #333333;
	font-size: 16px;
	color: #FFFFFF;
	font-family: PingFang-SC-Bold;
}
.frame{
	background-color: #FFFFFF;
	/*height: 339px;*/
}
.size{
	padding: 20px;
	border-bottom: 1px solid #EBEBEB;
	position: relative;
	font-size: 14px;
	color: #333333;
}
.size img{
	position: absolute;
	top: 14px;
	right: 14px;
}
.sizemid{
	margin-top: 20px;
	display: flex;
	flex-flow: wrap;
}
.nocheck{
	width: 1.513513rem;
	height: 30px;
	border: 1px solid #BBBBBB;
	border-radius: 100px;
	text-align: center;
	line-height: 30px;
	margin-right: 0.54054rem;
	margin-bottom: 20px;
}
.check{
	background: #333333;
    border: 1px solid #333333;
	font-size: 14px;
	color: #FFFFFF;
}
.color{
	padding: 20px 20px 30px 20px;
	font-size: 14px;
	color: #333333;	
}
.color input{
	margin-top: 20px !important;
	width: 3.567567rem;
	height: 40px;
	padding: 10px;
	background: #F7F7FB;
	border-radius: 2px;	
}
.add{
	height: 49px;
	width: 100%;
	line-height: 49px;
	background-color: #333333;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	font-family: PingFang-SC-Bold;
}
